# Backend (private - deployed separately)
/admin-panel/

# Composer setup
/composer-setup.php

# Next.js
/telegram-mini-app-stars-payments-master/node_modules/
/telegram-mini-app-stars-payments-master/.next/
/telegram-mini-app-stars-payments-master/out/
/telegram-mini-app-stars-payments-master/.env
/telegram-mini-app-stars-payments-master/.env.local
/telegram-mini-app-stars-payments-master/.env.production
/telegram-mini-app-stars-payments-master/next-env.d.ts

# Other frontend (not used)
/telegram-mini-app-stars-payments/

# OS
Thumbs.db
.DS_Store
