# Laravel
/admin-panel/vendor/
/admin-panel/node_modules/
/admin-panel/.env
/admin-panel/.env.production
/admin-panel/.env.local
/admin-panel/storage/app/*
/admin-panel/storage/framework/cache/data/*
/admin-panel/storage/framework/sessions/*
/admin-panel/storage/framework/views/*
/admin-panel/storage/logs/*
/admin-panel/bootstrap/cache/*
/admin-panel/public/storage/
/admin-panel/public/hot
/admin-panel/public/build/

# Next.js
/telegram-mini-app-stars-payments-master/node_modules/
/telegram-mini-app-stars-payments-master/.next/
/telegram-mini-app-stars-payments-master/out/
/telegram-mini-app-stars-payments-master/.env
/telegram-mini-app-stars-payments-master/.env.local
/telegram-mini-app-stars-payments-master/.env.production
/telegram-mini-app-stars-payments-master/next-env.d.ts

# Other frontend (not used)
/telegram-mini-app-stars-payments/

# OS
Thumbs.db
.DS_Store
